<body style="background-color:yellowgreen;">
<button type="button" class="btn btn-outline-dark" (click)="Routetoinfo()">Info</button>
<button type="button" class="btn btn-outline-dark" (click)="Routetoeasy()">Easy</button>
<button type="button" class="btn btn-outline-dark" (click)="Routetomedium()">Medium</button>
<button type="button" class="btn btn-outline-dark" (click)="Routetohard()">Hard</button>

<button type="button" class="btn btn-outline-dark" (click)="Routetosample()">Sample paper</button>
</body>

